* {
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#headlineContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headlineContainer img {
  width: 100vw;
  height: auto;
}

h1 {
  position: absolute;
  font-size: 10rem;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

#introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

p {
  width: 50vw;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: bold;
}

.shopH2 {
  margin-left: 21rem;
}

#listOfShops {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  list-style-type: none;
  width: fit-content;
  margin: 0 auto;
  background-color: lightblue;
}

.listItem {
  list-style-type: none;
  margin-bottom: 1rem;
  padding: 10px;
}
